<form class="form-container" #form="ngForm" >

        <h3>ADD COMPANY</h3>
        <div class="inner-element">
            <label>Company Name</label>
            <input 
                 type="text" 
                 name="companyName" 
                 required
                 #companyName1="ngModel" 
                 [(ngModel)]= "clientsData.companyName"
            >

            <button (click)="createNewCompany()" 
                    [routerLink]= "!clientsData.editMode ? ['/clients/add/client']: ['/clients/edit/client', clientsData.selectedClient.id]" 
                     >Add New Company
            </button>
            <small >{{companyName}}</small>
        </div>
       
    </form>
